venv/
.vscode/
!.vscode/settings.json
__pycache__/
docs/_build/
.env
*.code-workspace
.idea/
sandbox/consultant.sng
test/data/Yofa_test.mid
/test/bach_invention_4-1.eps
/test/bach_invention_4-systems.count
/test/bach_invention_4-systems.tex
/test/bach_invention_4-systems.texi
/test/bach_invention_4_clip.eps
/test/data/bach_invention_4_clip_good.ly
/test/bach_invention_4_clip.png
/test/bach_invention_4_clip-1.eps
/test/bach_invention_4_clip-systems.count
/test/bach_invention_4_clip-systems.tex
/test/bach_invention_4_clip-systems.texi
/test/data/bach_invention_4_old.mid
/test/data/bach_invention_4a.mid
/test/bach_invention_4.eps
/test/data/bach_invention_4.pdf
/test/Betrayal_q.mid
/test/Betrayal_test_q.mid
/test/data/bach_invention_4.pdf
*.doctree
